{
  env: {
    node: {
      presets: [
        ['env', {targets: {node: 'current'}}]
      ]
    },

    lib: {
      presets: ['env']
    },

    es: {
      presets: [
        ['env', {modules: false}]
      ]
    },
  }
}
